<div class="container">
  <h3>Pensioen befrank</h3>


  <form [formGroup]="pensioenForm" (ngSubmit)="onSubmit()">

    <div class="formfields">
      <label for="deelnemerId">
        Deelnemer ID
      </label>
      <input id="deelnemerId" type="text" formControlName="deelnemerId">
      <label for="pensioenleeftijd">
        Pensioenleeftijd
      </label>
      <input id="pensioenleeftijd" type="text" formControlName="pensioenleeftijd">
      <button class="button" type="submit">Bereken pensioenwaarde</button>
    </div>



  </form>

  <div *ngIf="pensioenwaarde" id="pensioenwaarde">
    De waarde van uw pensioen is {{pensioenwaarde | currency:'EUR':true}}
  </div>

</div>
<router-outlet></router-outlet>
